{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "standard",
    "standard-jsx",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "globals": {
    "fetch": true
  },
  "plugins": ["react-hooks", "@typescript-eslint", "prettier"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": "error"
  }
}
